# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

***Le SQL (Structured Query Language)*** est un langage permettant de communiquer  et interroger avec une base de données. [sqlSh](https://sql.sh/)

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite est une bibliothèque écrite en langage C qui propose un moteur de base de données relationnelle accessible par le langage SQL.[Wikipédia](https://fr.wikipedia.org/wiki/SQLite).

#### Avantages
SQLite3 présente l'avantage de n'avoir rien à configurer, rien à maintenir ou à administrer. C'est aussi son objectif. 

#### Inconvinnients 
Certaines fonctionnalités sont absentes, comme la gestion des utilisateurs ou la possibilité de se connecter à distance à la base (en TCP/IP par exemple).  [wiki-ubuntu-fr](https://doc.ubuntu-fr.org/sqlite)

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

XML,Json

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier binaire

### Question 5: Donner les caractéristiques de la table `summer` ?

La table **summer** contient :

1.   9 champs (Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal) de type (Integer ou text) 

2.   31165 enregistrement.

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

La table contient **31165** enregistrements

``` sql
SELECT Count(*) 
FROM summer
````

![all](img/Q0.png)

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

``` sql 
SELECT min(Year),max(Year)
From summer
```

Ce fichier couvre la période : 1896 - 2012

![periode](img/Q7.png)

### Question 8: Indiquer les années et villes des olympiades ?

``` sql
SELECT Year,Count(Distinct Sport)
From summer
Group By Year
Order by Year DESC
```

![annee_ville](./img/Q8.png)

### Question i:

## Q1 : Combien la France a remporté de médailles d’or aux JO de 1984 ?

``` sql
SELECT Distinct City,Year
From summer
Order by Year DESC 
```

La france a remporté 21 médailles d'or de 1984

![france_1984](.\img\Q1.png)

###  Q2. Quel pays a le plus d’athlètes (toutes années confondues) ? (Matthias)

``` sql
SELECT Country,MAx(pays_max)
FROM (
    SELECT Country,Count(Distinct Athlete)as pays_max
	From summer 
    Group By Country)
```

![max_pays_athlele](.\img\Q2.png)

## Q3. En 2012 combien de médailles le Japon a t-il gagné ? (Théo)

``` sql
SELECT Country,count(Medal)
FROM summer 
WHERE Year=23012 and Country="JPN"
```

![JPN](.\img\Q3.png)

### Q4. Dans quels différents sports les Grecs ont-ils gagné des médailles ? - (Corentin L)
Resultat: 18 discipline

``` sql 
SELECT DISTINCT Discipline,Country
FROM summer 
WHERE Country="GRE"
```

![GRE](.\img\Q4.png)

### Q5. Quel pays a remporté le plus de médailles d’or ? (Philippe)

``` sql
SELECT Country,Max(Medal_max)
FROM (
    SELECT Country,Count(Medal)as Medal_max
    From summer
    where Medal="Gold"
     Group By Country)
 
```

![Max_OR](.\img\Q5.png)

### Q6. Combien de villes différentes ont accueilli les JO d’été entre 1896 - et 2012 ? (Yoann)

Resultat : 22 villes

``` sql 
Select DISTINCT City
 From summer
 where Year BETWEEN 1896 and 2012
 ```

![JO_periode](.\img\Q6.png)

### Q7. Combien de femmes ont obtenu une médaille d’or ? (Lamia)

``` sql 
select Count(*)as count_medal
 From summer
 where Gender="Women" and Medal="Gold"
 ```

![femme_or](.\img\Q7Bis.png)

### Q8. Combien de sports différents sont représentés par année ? (joris)

``` sql 
select Year,count(Distinct Sport)
 From summer
 Group by Year
 order by Year DESC
```

![sport_annee](.\img\Q8.png)

### Q9. Combien de fois Londres a accueilli les J.O ? (Marvin)

``` sql
select Distinct Year,City
From summer
WHERE City like"%London%"
```

![LDN](.\img\Q9Bis.png)

### Q10. Combien de joueuses comptait la sélection brésilienne de volley-ball - médaillée d’or aux J.O de 2012 ? (Corentin P)

``` sql 
SELECT Count(*)
From summer
WHERE Gender="Women" And Country="BRA" AND Medal="Gold" AND Year=2012 and Sport="Volleyball"
```

![BRZ](.\img\Q10.png)

### Q11. Femmes françaises ont participé en 2012 , quel sont leurs - médailles ? (izak)

``` sql
SELECT Athlete,Medal
From summer
WHERE Gender="Women" And Country="FRA" AND Year=2012 
```

##### resultats: 31 medailles différente obtenues par des française en 2012

![BRZ](.\img\Q11.png)

### Q12. Quel est l’athlète qui a remporté le plus de médailles d’or ? (mayel)

``` sql
select Athlete,MAX(nbre) 
FROM ( 
    SELECT Athlete,Country,count(Medal) ad nbre
    FROM summer 
    where Medal="Gold"
    Group by Athlete,City
    Order by nbre DESC)
```

![athOR](.\img\Q12.png)

### Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ? - (jordan)

```sql
SELECT count(*)
FROM summer 
where Medal="Gold" And Sport="Cricket" AND Country="FRA"
```


![cricket](.\img\Q13.png)

### Q14. Combien de médaillés ont un nom de famille de plus de 6 lettres en - excluant les années paires ? (jonathan)

0 car JO c'est annees paire

### Q15. Le nombre de médailles d’or par pays en 2012 (Maëlle)

```sql
SELECT Country,count(*) as nbre
FROM summer 
where Medal="Gold" AND Year=2012
group by Country
order by nbre DESC
```

![or2012](.\img\Q15.png)

### Q16. Combien de femmes ont remporté des médailles ? (Alicia)

```sql
SELECT DISTINCT count(DISTINCT Athlete) 
as femme From summer 
WHERE Gender="Women"
```

![athOR](.\img\Q16.png)

### Q17. Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)

```sql
select count(*) 
from summer
where Country="FRA" AND Year BETWEEN 1984 AND 2012
```

![interval_fr](.\img\Q17.png)

***********************************FIN*******************************************